Value Filldown Network ([0-9.]+)
Value Filldown Mask (\/\d+)
Value Distance (\d+)
Value Metric (\d+)
Value List,Required NextHop ([0-9.]+)
Value List Intf (\S+)

Start
  ^O -> Continue.Record
  ^O +${Network}${Mask} +\[${Distance}\/${Metric}\] via ${NextHop}, \w+, ${Intf}
  ^ +\[${Distance}\/${Metric}\] via ${NextHop}, \w+, ${Intf}

