router ospf 1
 router-id {{ mgmnt_ip }}
 ispf
 auto-cost reference-bandwidth 10000
{% for intf in ansible_net_interfaces %}
{% for ip in ansible_net_interfaces[intf]['ipv4'] %}
 network {{ ip.address }} 0.0.0.0 area 0
{% endfor %}
{% endfor %}
